<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>606133884258-ud1qavkl0nq59a8v7dp8ska1i107lvhh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.606133884258-ud1qavkl0nq59a8v7dp8ska1i107lvhh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>606133884258-nibntspkohq8kuap6au1lut5l29o3428.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDSFFcsnCS-fK-EA0pBhFvMtdSuzYQWWOw</string>
	<key>GCM_SENDER_ID</key>
	<string>606133884258</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.appbrewery.flashChat</string>
	<key>PROJECT_ID</key>
	<string>dyeus-26ba3</string>
	<key>STORAGE_BUCKET</key>
	<string>dyeus-26ba3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:606133884258:ios:a8864f6546beae5877883b</string>
</dict>
</plist>